@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --app-header-height: 50px;
    --default-font-family: 'Noto Sans', sans-serif;
    --arabic-font-size-small: 30px;
    --arabic-font-size-medium: 40px;
    --arabic-font-size-large: 50px;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  @font-face {
    font-family: 'Hafs';
    src: url('../fonts/hafs.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Uthmani Hafs';
    src: url('../fonts/uthmani-hafs.woff2') format('woff2');
  }

  /* Font for verse end numbers */
  .font-verse-end {
    font-family: 'Uthmani Hafs', 'Hafs', serif;
    font-weight: normal;
  }

  body {
    margin: 0;
    font-family: var(--default-font-family);
  }

  a, a:visited {
    @apply text-blue-500 no-underline;
  }
}

@layer utilities {
  .text-navy { color: #1301b8; }
  .text-seagreen { color: #32bd2f; }
  .text-seagreen-light { color: #3ece39; }
  .text-sky { color: #548dd4; }
  .text-sky-light { color: #6f9fdb; }
  .text-metal { color: #5c7085; }
  .text-metal-light { color: #70869c; }
  .text-rust { color: #ad2323; }
  .text-rust-light { color: #d73535; }
  .text-gray-custom { color: #575757; }
  .text-orange-custom { color: #e37010; }
  .text-orange-light-custom { color: #ef7d21; }
  .text-purple-custom { color: #8126c0; }
  .text-purple-light-custom { color: #9a3cd9; }
  .text-blue-custom { color: #257e9c; }
  .text-blue-light-custom { color: #2e9abe; }
  .text-brown { color: #bf9f3e; }
  .text-brown-light { color: #c9ad58; }
  .text-rose { color: #fd5162; }
  .text-rose-light { color: #fd6675; }
  .text-gold { color: #817418; }
  .text-gold-light { color: #97881c; }
  .text-red-custom { color: #f4400b; }
  .text-red-light-custom { color: #f76c44; }
  .text-green-custom { color: #1d6914; }
  .text-green-light-custom { color: #278e1c; }
  .text-pink-custom { color: #a8017b; }
  .text-pink-light-custom { color: #d8019c; }
  .text-silver { color: #b4b4b4; }
  .text-silver-light { color: #bebebe; }
}